* {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

body {
  font-weight: 200;
  background: #674172;
}

input,
nav-item {
  font-weight: 200;
  line-height: 110%;
}

/* utilities */
.pull-right { float: right; }

/* new grid */

.vh100 {
  /* height: 100vh; */
}

.app-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(13, 1fr);
}
/* currently using app container over app grid */
.app-container {
  /* Has div100vh react component applied */
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-columns: 0.5fr 0.5fr repeat(3, 1fr) 0.5fr 0.5fr 1.25fr repeat(1, 1fr) 1.25fr 0.5fr 0.5fr repeat(3, 1fr) 0.5fr 0.5fr;
  grid-template-rows: repeat(15, 1fr);
}


.grid-nav {
  grid-column-start: 2;
  grid-column-end: 17;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
}
.nav-brand {
  color: #fff;
}
.bg-row {
  grid-row-start: 6;
  grid-row-end: 16;
  background: #22313f;
  /* height: 70vh; */
  /* align-self: end; */
  /* width: 93vw; */
  z-index: 0;
  border-top: 4px solid #0e151b;
}
.bg-left {
  grid-column-start: 1;
  grid-column-end: 7;
}

.bg-middle {
  grid-column-start: 7;
  grid-column-end: 12;
  background: #435d69;
}

.bg-right {
  grid-column-start: 12;
  grid-column-end: 18;
}

.cat-container {
  grid-column-start: 4;
  grid-column-end: 15;
  grid-row-start: 2;
  grid-row-end: 6;
  align-self: end;
  margin-bottom: -10px;
}

@media only screen and (max-width: 400px) {
  .cat-container {
    grid-column-start: 5;
    grid-column-end: 14;
  }
}

.fat-cat {
  z-index: -1;
}

.tier-container {
  grid-column-start: 3;
  grid-column-end: 17;
  grid-row-start: 5;
  grid-row-end: 7;

  display: flex;
  justify-content: space-between;
}

.slider-description {
  position: relative;
  height: 14vh;
  margin-top: -8px;
  margin-bottom: 30px;
  background: #5b2f56;
  padding: 11px 20px 15px 21px;
  color: #c5c5c5;
  text-align: justify;
  font-size: 12px;
  border-radius: 0 0 10px 10px;
  /* -webkit-box-shadow: 0px 0px 44px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 44px -6px rgba(0,0,0,0.75); */
  border: 4px solid #af629e;
  z-index: 10;
}

.radius-right { border-top-right-radius: 10px; }
.radius-left { border-top-left-radius: 10px; }

/* Attribute labels and values */
.attribute-name-row {
  grid-row-start: 6;
  grid-row-end: 7;
  /* align-self: end; */
}

.attribute-value-row {
  grid-row-start: 7;
  grid-row-end: 9;
  align-self: end;
}
.loot-boxes-column {
  grid-column-start: 2;
  grid-column-end: 6;
}
.ads-column {
  grid-column-start: 8;
  grid-column-end: 11;
}
.timers-column {
  grid-column-start: 13;
  grid-column-end: 17;
}
/* Attribute sliders */
.slider-row {
  grid-row-start: 10;
  grid-row-end: 15;
  margin-bottom: 30px;
}
.loot-boxes-slider {
  grid-column-start: 4;
  grid-column-end: 6;
}
.ads-slider {
  grid-column-start: 9;
  grid-column-end: 9;
  margin-left: 30%;
}
.timers-slider {
  grid-column-start: 14;
  grid-column-end: 16;
  margin-left: 25%;
}

.tier-description-container {
  grid-column-start: 2;
  grid-column-end: 17;
  grid-row-start: 9;
  grid-row-end: 10;
  align-self: start;
}

.slider-container {
  grid-column-start: 2;
  grid-column-end: 17;
  grid-row-start: 9;
  grid-row-end: 14;
}


.grid-search-button {
  grid-column-start: 2;
  grid-column-end: 17;
  grid-row-start: 15;
  grid-row-end: 16;
}

/* new grid end */




.slider-name {
  position: relative;
  margin-top: 15px;
  color: #000000;
  border: 4px solid #E08A1E;
  /* border-radius: 15px; */
  background: #ffb700;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
}
@media only screen and (max-width: 400px) {
  .slider-name {
    font-size: 14px;
  }
}

.slider-value {
  height: 8vh;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  color: #989898;
  padding: 32px 0px 40px 0;
  border-radius: 10px 10px 0 0;
  background: #291b29;
  border: 4px solid #7d4a72;
  text-align: center;
  border-bottom: none;
  margin-bottom: 3.6px;
}
.slider-value-active {
  background: #5b2f56;
  color: #c5c5c5;
  -webkit-box-shadow: 0px 0px 44px -6px rgba(0,0,0,0.75);
  box-shadow: 0px -4px 4px 1px rgba(0,0,0,0.25);
  border: 4px solid #af629e;
  border-bottom: none;
  z-index: 15;
}

.search-button {
  width: 100%;
  height: 42px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #000000;
  border: 4px solid #E08A1E;
  background: #ffb700;
  font-weight: bold;
  /* padding: 10px 120px; */
  border-radius: 10px;
  text-align: center;
}

.search-button a {
  width: 100%;
  color: #000000;
}

.app-icon {
  width: 50px;
  float: left;
}

img { width: 100%; }

.list-item-container {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
}

.list-item {
  width: 100%;
  background: #674172;
  padding: 15px;
  border-radius: 10px;
  border: 4px solid #000000;
}

.item-name {
  color: #fff;
  padding-left: 60px;
}

.playstore-btn {
  float: right;
}

.item-title-container {
  height: 70px;
}

.icon-tier-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.icon-tier {

}

.yellow-btn {
  position: relative;
  color: #000000;
  border: 4px solid #E08A1E;
  background: #ffb700;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
}